<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav navabar-nav">
            <li><a class="navbar-brand" href="{% url 'index'%}">Django</a></li>
            <li><a class="navbar-brand" href="{% url 'admin:index'%}">Admin</a></li>
            <li><a class="navbar-brand" href="{% url 'basic_app:register'%}">Register</a></li>
            {% if user.is_authenticated %}
            <li><a class="navbar-brand" href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
            <li><a class="navbar-brand" href="{% url 'basic_app:user_login' %}">Login</a></li>
            {% endif %}
    </ul>
</nav>
{% block body_block %}
{% endblock %}

</body>
</html>